In [ ]:
#Linear regression

In [20]:
#Importing Required Libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [21]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P3_Data.csv')
data

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,0.00,1.73,3.14,5.73,-5.48,-743.61,152.20,Europe,3,1577.82,-383.82,12,-2289.14,-19.69,High,25354.83,167.75
1,9.84,3.46,6.02,14.42,-10.94,-820.35,68.56,Rest,4,1884.69,-488.34,6,-2899.20,-19.46,Very low,32380.17,704.46
2,4.14,-1.95,6.96,4.27,-7.94,-818.43,107.86,Rest,4,2063.79,-287.76,6,-2885.52,-20.57,Very high,28882.38,302.43
3,20.06,-3.34,3.76,4.78,-6.30,-814.53,147.04,UK,7,1319.19,-435.54,4,-2319.80,-20.24,Very high,28523.04,2420.98
4,63.63,-0.97,11.08,5.66,-9.60,-847.41,99.70,Europe,1,1921.14,-246.45,10,-1344.40,-21.90,Medium,27915.81,271.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,24.31,1.13,8.46,5.33,-9.72,-825.75,114.32,Rest,3,695.19,-153.15,6,-2057.96,-13.74,High,69349.74,2473.75
1496,1.06,1.05,13.70,2.39,1.42,-1108.38,137.60,Rest,2,1360.74,-449.82,4,-2974.08,-29.45,Very low,22585.59,120.67
1497,39.25,-1.64,2.12,7.45,-12.26,-900.42,121.52,Europe,3,716.16,-408.42,4,-3032.14,-26.16,Medium,37818.39,204.91
1498,0.31,-0.76,3.66,4.54,-11.16,-804.75,188.26,Europe,6,1449.69,-316.80,14,-2574.60,-16.49,High,27166.41,306.95
1499,0.15,4.14,2.90,2.23,-0.50,-601.95,153.68,Europe,3,474.57,-368.22,14,-2097.10,-19.56,High,15886.38,94.21

In [22]:
#Converting the categorical data to dummy variables
data =pd.get_dummies(data, drop_first=True)
data

,F1,F2,F3,F4,F5,F6,F7,F9,F10,F11,...,F14,F16,Target,F8_Rest,F8_UK,F8_USA,F15_Low,F15_Medium,F15_Very high,F15_Very low
0,0.00,1.73,3.14,5.73,-5.48,-743.61,152.20,3,1577.82,-383.82,...,-19.69,25354.83,167.75,0,0,0,0,0,0,0
1,9.84,3.46,6.02,14.42,-10.94,-820.35,68.56,4,1884.69,-488.34,...,-19.46,32380.17,704.46,1,0,0,0,0,0,1
2,4.14,-1.95,6.96,4.27,-7.94,-818.43,107.86,4,2063.79,-287.76,...,-20.57,28882.38,302.43,1,0,0,0,0,1,0
3,20.06,-3.34,3.76,4.78,-6.30,-814.53,147.04,7,1319.19,-435.54,...,-20.24,28523.04,2420.98,0,1,0,0,0,1,0
4,63.63,-0.97,11.08,5.66,-9.60,-847.41,99.70,1,1921.14,-246.45,...,-21.90,27915.81,271.65,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,24.31,1.13,8.46,5.33,-9.72,-825.75,114.32,3,695.19,-153.15,...,-13.74,69349.74,2473.75,1,0,0,0,0,0,0
1496,1.06,1.05,13.70,2.39,1.42,-1108.38,137.60,2,1360.74,-449.82,...,-29.45,22585.59,120.67,1,0,0,0,0,0,1
1497,39.25,-1.64,2.12,7.45,-12.26,-900.42,121.52,3,716.16,-408.42,...,-26.16,37818.39,204.91,0,0,0,0,1,0,0
1498,0.31,-0.76,3.66,4.54,-11.16,-804.75,188.26,6,1449.69,-316.80,...,-16.49,27166.41,306.95,0,0,0,0,0,0,0
1499,0.15,4.14,2.90,2.23,-0.50,-601.95,153.68,3,474.57,-368.22,...,-19.56,15886.38,94.21,0,0,0,0,0,0,0

In [ ]:
#Obtaining Target values
y= data['Target'].values
y.shape

In [ ]:
#Obtaining feature values from F1 to F16
x= data.drop(columns=['Target']).values

In [ ]:
#Feature Scaling
sc = MinMaxScaler()
x = sc.fit_transform(x)
x.shape

In [ ]:
sc = MinMaxScaler()
y = y.reshape(-1,1)
y = sc.fit_transform(y)
y.shape

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
#Creating an instance of Linear Regression
model = LinearRegression()

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.2)

In [ ]:
#Training the model using train data
model.fit(X_train, y_train)

In [ ]:
#Training the model using train data
li_predictions = model.predict(X_test)
li_predictions.shape

In [ ]:
#Finding the r2 value
r2 = r2_score(y_test, li_predictions)
r2

In [ ]:
#Calculating the root mean squared value
rmse = mean_squared_error(y_test, li_predictions, squared=False)
rmse

In [ ]:
#Ridge Regression

In [ ]:
#Importing Required Libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import Ridge

In [ ]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P3_Data.csv')
data

In [ ]:
#Converting the categorical data to dummy variables
data =pd.get_dummies(data, drop_first=True)
data

In [ ]:
#Obtaining Target values
y= data['Target'].values
y

In [ ]:
#Obtaining feature values from F1 to F16
x= data.drop(columns=['Target']).values

In [ ]:
#Feature Scaling
sc = MinMaxScaler()
x = sc.fit_transform(x)
x.shape

In [ ]:
sc = MinMaxScaler()
y = y.reshape(-1,1)
y = sc.fit_transform(y)
y.shape

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
#Creating an instance of Ridge Regression
rr = Ridge(alpha=0.01)

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.2)

In [ ]:
#Training the model using train data
rr.fit(X_train, y_train)

In [ ]:
#Precting the outputs
ls_predictions = rr.predict(X_test)
ls_predictions.shape

In [ ]:
#Calculating the root mean squared value
rmse = mean_squared_error(y_test, ls_predictions, squared=False)
rmse

In [ ]:
#Finding the r2 value
r2_score(y_test, ls_predictions)

In [ ]:
#Polynomial Regression

In [ ]:
#Importing Required Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
#Extracting the data from .csv file
data = pd.read_csv('CE802_P3_Data.csv')

In [ ]:
#Converting the categorical data to dummy variables
data = pd.get_dummies(data, drop_first=True)

In [ ]:
x = data.drop(columns=['Target']).values
#Obtaining Target values
y = data['Target'].values

In [ ]:
#Feature Scaling
sc = MinMaxScaler()
x = sc.fit_transform(x)
x.shape

In [ ]:
#Creating an instance of Polynomial Regression
poly = PolynomialFeatures(degree=2)
x = poly.fit_transform(x)
x.shape

In [ ]:
#Splitting the data into test and train
X_train, X_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.22)

In [ ]:
X_train.shape

In [ ]:

model = LinearRegression()
#Training the model using train data
model.fit(X_train, y_train)
#Calculating the root mean squared value
y_pred = model.predict(X_test)
#Finding the r2 value
print(r2_score(y_test, y_pred))

In [ ]:
#Among these 3 models the polynmial regression is the better one

In [ ]:
#Predicting the whole output

In [1]:
#Importing Required Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
#Extracting the train data from .csv file
data = pd.read_csv('CE802_P3_Data.csv')
data

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,0.00,1.73,3.14,5.73,-5.48,-743.61,152.20,Europe,3,1577.82,-383.82,12,-2289.14,-19.69,High,25354.83,167.75
1,9.84,3.46,6.02,14.42,-10.94,-820.35,68.56,Rest,4,1884.69,-488.34,6,-2899.20,-19.46,Very low,32380.17,704.46
2,4.14,-1.95,6.96,4.27,-7.94,-818.43,107.86,Rest,4,2063.79,-287.76,6,-2885.52,-20.57,Very high,28882.38,302.43
3,20.06,-3.34,3.76,4.78,-6.30,-814.53,147.04,UK,7,1319.19,-435.54,4,-2319.80,-20.24,Very high,28523.04,2420.98
4,63.63,-0.97,11.08,5.66,-9.60,-847.41,99.70,Europe,1,1921.14,-246.45,10,-1344.40,-21.90,Medium,27915.81,271.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,24.31,1.13,8.46,5.33,-9.72,-825.75,114.32,Rest,3,695.19,-153.15,6,-2057.96,-13.74,High,69349.74,2473.75
1496,1.06,1.05,13.70,2.39,1.42,-1108.38,137.60,Rest,2,1360.74,-449.82,4,-2974.08,-29.45,Very low,22585.59,120.67
1497,39.25,-1.64,2.12,7.45,-12.26,-900.42,121.52,Europe,3,716.16,-408.42,4,-3032.14,-26.16,Medium,37818.39,204.91
1498,0.31,-0.76,3.66,4.54,-11.16,-804.75,188.26,Europe,6,1449.69,-316.80,14,-2574.60,-16.49,High,27166.41,306.95
1499,0.15,4.14,2.90,2.23,-0.50,-601.95,153.68,Europe,3,474.57,-368.22,14,-2097.10,-19.56,High,15886.38,94.21

In [3]:
#Converting the categorical data to dummy variables
data =pd.get_dummies(data, drop_first=True)
data

,F1,F2,F3,F4,F5,F6,F7,F9,F10,F11,...,F14,F16,Target,F8_Rest,F8_UK,F8_USA,F15_Low,F15_Medium,F15_Very high,F15_Very low
0,0.00,1.73,3.14,5.73,-5.48,-743.61,152.20,3,1577.82,-383.82,...,-19.69,25354.83,167.75,0,0,0,0,0,0,0
1,9.84,3.46,6.02,14.42,-10.94,-820.35,68.56,4,1884.69,-488.34,...,-19.46,32380.17,704.46,1,0,0,0,0,0,1
2,4.14,-1.95,6.96,4.27,-7.94,-818.43,107.86,4,2063.79,-287.76,...,-20.57,28882.38,302.43,1,0,0,0,0,1,0
3,20.06,-3.34,3.76,4.78,-6.30,-814.53,147.04,7,1319.19,-435.54,...,-20.24,28523.04,2420.98,0,1,0,0,0,1,0
4,63.63,-0.97,11.08,5.66,-9.60,-847.41,99.70,1,1921.14,-246.45,...,-21.90,27915.81,271.65,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,24.31,1.13,8.46,5.33,-9.72,-825.75,114.32,3,695.19,-153.15,...,-13.74,69349.74,2473.75,1,0,0,0,0,0,0
1496,1.06,1.05,13.70,2.39,1.42,-1108.38,137.60,2,1360.74,-449.82,...,-29.45,22585.59,120.67,1,0,0,0,0,0,1
1497,39.25,-1.64,2.12,7.45,-12.26,-900.42,121.52,3,716.16,-408.42,...,-26.16,37818.39,204.91,0,0,0,0,1,0,0
1498,0.31,-0.76,3.66,4.54,-11.16,-804.75,188.26,6,1449.69,-316.80,...,-16.49,27166.41,306.95,0,0,0,0,0,0,0
1499,0.15,4.14,2.90,2.23,-0.50,-601.95,153.68,3,474.57,-368.22,...,-19.56,15886.38,94.21,0,0,0,0,0,0,0

In [4]:
#Obtaining Target values
b_train =data['Target'].values
b_train

array([167.75, 704.46, 302.43, ..., 204.91, 306.95,  94.21])

In [5]:
#Obtaining feature values from F1 to F16
a_train= data.drop(columns=['Target']).values

In [6]:
#Extracting the test data from .csv file
test = pd.read_csv('CE802_P3_Test.csv')
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,0.04,-0.21,3.68,1.54,-6.70,-929.34,234.18,USA,2,3391.35,-415.41,6,-1460.14,-20.55,Low,31369.98,NaN
1,0.89,2.97,2.28,1.97,-4.52,-700.62,106.84,Rest,2,3479.19,-320.73,2,-2301.76,-27.90,Low,29173.89,NaN
2,0.37,-0.17,7.14,0.40,-14.26,-796.14,32.30,USA,5,918.93,-379.44,4,-2589.08,-20.52,Very low,17248.26,NaN
3,5.37,0.07,7.18,6.81,-6.14,-801.03,32.92,Europe,2,2657.43,-491.28,6,-1767.44,-25.81,Low,15450.54,NaN
4,0.26,6.16,3.54,1.10,-16.76,-652.08,227.98,Rest,4,2739.96,-378.48,10,-1823.32,-23.11,Very low,35745.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.27,-1.82,3.06,1.81,-0.56,-843.15,230.60,UK,0,669.90,-365.52,4,-3161.20,-18.92,Medium,23327.58,NaN
1496,4.69,0.87,4.88,5.08,-6.64,-827.76,90.38,UK,6,3327.69,-373.65,6,-2326.00,-16.44,Medium,17878.32,NaN
1497,15.05,3.14,2.64,3.74,-3.92,-716.73,55.62,USA,4,238.56,-336.75,6,-2140.10,-19.13,Very low,32403.66,NaN
1498,0.04,-1.55,11.22,6.41,-10.80,-869.10,82.80,USA,6,4278.54,-357.03,8,-2232.92,-19.19,Very low,19319.28,NaN
1499,3.01,2.77,17.54,1.84,-12.32,-864.87,103.08,Rest,2,1338.39,-230.67,4,-2091.26,-17.79,Very low,24531.42,NaN

In [7]:
#Excluding the null column from the test variable
test =test.loc[:, test.columns!='Target']
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16
0,0.04,-0.21,3.68,1.54,-6.70,-929.34,234.18,USA,2,3391.35,-415.41,6,-1460.14,-20.55,Low,31369.98
1,0.89,2.97,2.28,1.97,-4.52,-700.62,106.84,Rest,2,3479.19,-320.73,2,-2301.76,-27.90,Low,29173.89
2,0.37,-0.17,7.14,0.40,-14.26,-796.14,32.30,USA,5,918.93,-379.44,4,-2589.08,-20.52,Very low,17248.26
3,5.37,0.07,7.18,6.81,-6.14,-801.03,32.92,Europe,2,2657.43,-491.28,6,-1767.44,-25.81,Low,15450.54
4,0.26,6.16,3.54,1.10,-16.76,-652.08,227.98,Rest,4,2739.96,-378.48,10,-1823.32,-23.11,Very low,35745.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.27,-1.82,3.06,1.81,-0.56,-843.15,230.60,UK,0,669.90,-365.52,4,-3161.20,-18.92,Medium,23327.58
1496,4.69,0.87,4.88,5.08,-6.64,-827.76,90.38,UK,6,3327.69,-373.65,6,-2326.00,-16.44,Medium,17878.32
1497,15.05,3.14,2.64,3.74,-3.92,-716.73,55.62,USA,4,238.56,-336.75,6,-2140.10,-19.13,Very low,32403.66
1498,0.04,-1.55,11.22,6.41,-10.80,-869.10,82.80,USA,6,4278.54,-357.03,8,-2232.92,-19.19,Very low,19319.28
1499,3.01,2.77,17.54,1.84,-12.32,-864.87,103.08,Rest,2,1338.39,-230.67,4,-2091.26,-17.79,Very low,24531.42

In [8]:
#Converting the categorical data to dummy variables
test = pd.get_dummies(test, drop_first=True)
test

,F1,F2,F3,F4,F5,F6,F7,F9,F10,F11,...,F13,F14,F16,F8_Rest,F8_UK,F8_USA,F15_Low,F15_Medium,F15_Very high,F15_Very low
0,0.04,-0.21,3.68,1.54,-6.70,-929.34,234.18,2,3391.35,-415.41,...,-1460.14,-20.55,31369.98,0,0,1,1,0,0,0
1,0.89,2.97,2.28,1.97,-4.52,-700.62,106.84,2,3479.19,-320.73,...,-2301.76,-27.90,29173.89,1,0,0,1,0,0,0
2,0.37,-0.17,7.14,0.40,-14.26,-796.14,32.30,5,918.93,-379.44,...,-2589.08,-20.52,17248.26,0,0,1,0,0,0,1
3,5.37,0.07,7.18,6.81,-6.14,-801.03,32.92,2,2657.43,-491.28,...,-1767.44,-25.81,15450.54,0,0,0,1,0,0,0
4,0.26,6.16,3.54,1.10,-16.76,-652.08,227.98,4,2739.96,-378.48,...,-1823.32,-23.11,35745.03,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.27,-1.82,3.06,1.81,-0.56,-843.15,230.60,0,669.90,-365.52,...,-3161.20,-18.92,23327.58,0,1,0,0,1,0,0
1496,4.69,0.87,4.88,5.08,-6.64,-827.76,90.38,6,3327.69,-373.65,...,-2326.00,-16.44,17878.32,0,1,0,0,1,0,0
1497,15.05,3.14,2.64,3.74,-3.92,-716.73,55.62,4,238.56,-336.75,...,-2140.10,-19.13,32403.66,0,0,1,0,0,0,1
1498,0.04,-1.55,11.22,6.41,-10.80,-869.10,82.80,6,4278.54,-357.03,...,-2232.92,-19.19,19319.28,0,0,1,0,0,0,1
1499,3.01,2.77,17.54,1.84,-12.32,-864.87,103.08,2,1338.39,-230.67,...,-2091.26,-17.79,24531.42,1,0,0,0,0,0,1

In [9]:
#b_test= test['Target'].values
#b_test

In [10]:
#a_test=test.drop(columns=['Target']).values
#Obtaining feature values from F1 to F16
a_test= test.values

In [11]:
#Feature Scaling
mn = MinMaxScaler()
a_train = mn.fit_transform(a_train)
a_test = mn.transform(a_test)

In [12]:
sc = MinMaxScaler()
b_train = b_train.reshape(-1,1)
b_train= sc.fit_transform(b_train)
#b_test = b_test.reshape(-1,1)
#b_test = sc.fit_transform(b_test)

In [13]:
#Creating an instance of Polynomial Regression
poly = PolynomialFeatures(degree=2)
#Training the model using train data
a_train = poly.fit_transform(a_train)
a_train.shape

(1500, 253)

In [15]:
#Creating an instance of Linear Regression
model = LinearRegression()
#Training the model using train data
model.fit(a_train, b_train)
#Predicting the outputs
y_pred = model.predict(a_test)

test

,F1,F2,F3,F4,F5,F6,F7,F9,F10,F11,...,F13,F14,F16,F8_Rest,F8_UK,F8_USA,F15_Low,F15_Medium,F15_Very high,F15_Very low
0,0.04,-0.21,3.68,1.54,-6.70,-929.34,234.18,2,3391.35,-415.41,...,-1460.14,-20.55,31369.98,0,0,1,1,0,0,0
1,0.89,2.97,2.28,1.97,-4.52,-700.62,106.84,2,3479.19,-320.73,...,-2301.76,-27.90,29173.89,1,0,0,1,0,0,0
2,0.37,-0.17,7.14,0.40,-14.26,-796.14,32.30,5,918.93,-379.44,...,-2589.08,-20.52,17248.26,0,0,1,0,0,0,1
3,5.37,0.07,7.18,6.81,-6.14,-801.03,32.92,2,2657.43,-491.28,...,-1767.44,-25.81,15450.54,0,0,0,1,0,0,0
4,0.26,6.16,3.54,1.10,-16.76,-652.08,227.98,4,2739.96,-378.48,...,-1823.32,-23.11,35745.03,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.27,-1.82,3.06,1.81,-0.56,-843.15,230.60,0,669.90,-365.52,...,-3161.20,-18.92,23327.58,0,1,0,0,1,0,0
1496,4.69,0.87,4.88,5.08,-6.64,-827.76,90.38,6,3327.69,-373.65,...,-2326.00,-16.44,17878.32,0,1,0,0,1,0,0
1497,15.05,3.14,2.64,3.74,-3.92,-716.73,55.62,4,238.56,-336.75,...,-2140.10,-19.13,32403.66,0,0,1,0,0,0,1
1498,0.04,-1.55,11.22,6.41,-10.80,-869.10,82.80,6,4278.54,-357.03,...,-2232.92,-19.19,19319.28,0,0,1,0,0,0,1
1499,3.01,2.77,17.54,1.84,-12.32,-864.87,103.08,2,1338.39,-230.67,...,-2091.26,-17.79,24531.42,1,0,0,0,0,0,1

In [16]:
#Assigining the predicted values to the test variable
test['Target']=y_pred

In [17]:
test

,F1,F2,F3,F4,F5,F6,F7,F9,F10,F11,...,F14,F16,F8_Rest,F8_UK,F8_USA,F15_Low,F15_Medium,F15_Very high,F15_Very low,Target
0,0.04,-0.21,3.68,1.54,-6.70,-929.34,234.18,2,3391.35,-415.41,...,-20.55,31369.98,0,0,1,1,0,0,0,0.116041
1,0.89,2.97,2.28,1.97,-4.52,-700.62,106.84,2,3479.19,-320.73,...,-27.90,29173.89,1,0,0,1,0,0,0,-0.086993
2,0.37,-0.17,7.14,0.40,-14.26,-796.14,32.30,5,918.93,-379.44,...,-20.52,17248.26,0,0,1,0,0,0,1,-0.024462
3,5.37,0.07,7.18,6.81,-6.14,-801.03,32.92,2,2657.43,-491.28,...,-25.81,15450.54,0,0,0,1,0,0,0,0.051763
4,0.26,6.16,3.54,1.10,-16.76,-652.08,227.98,4,2739.96,-378.48,...,-23.11,35745.03,1,0,0,0,0,0,1,0.152555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.27,-1.82,3.06,1.81,-0.56,-843.15,230.60,0,669.90,-365.52,...,-18.92,23327.58,0,1,0,0,1,0,0,0.054475
1496,4.69,0.87,4.88,5.08,-6.64,-827.76,90.38,6,3327.69,-373.65,...,-16.44,17878.32,0,1,0,0,1,0,0,0.088954
1497,15.05,3.14,2.64,3.74,-3.92,-716.73,55.62,4,238.56,-336.75,...,-19.13,32403.66,0,0,1,0,0,0,1,0.010236
1498,0.04,-1.55,11.22,6.41,-10.80,-869.10,82.80,6,4278.54,-357.03,...,-19.19,19319.28,0,0,1,0,0,0,1,0.087583
1499,3.01,2.77,17.54,1.84,-12.32,-864.87,103.08,2,1338.39,-230.67,...,-17.79,24531.42,1,0,0,0,0,0,1,0.267637

In [ ]:
#Writing the updated data to the csv file
test.to_csv('CE802_P3_Test.csv')

In [ ]:
new = pd.read_csv('CE802_P3_Test.csv')
new